# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Data & logs
data/*.db
data/*.db-journal
data/*.db-wal
logs/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Virtual env
.venv/
venv/
